html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  height: 100%;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: #222;
  color: white;
}

main {
  flex: 1;
}

.logo {
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.user-email {
  font-size: 0.9rem;
  opacity: 0.8;
}

/* MAIN CONTENT */
.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #222;
  color: white;
}