<nav>
  <h2>Members Only</h2>

  <% if (user) { %>
    <span>Logged in as <%= user.email %></span>

    <a href="/messages/new">New Message</a>

    <% if (!user.is_member) { %>
      <a href="/join-club">Join Club</a>
    <% } %>

    <a href="/auth/logout">Logout</a>

  <% } else { %>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Sign up</a>
  <% } %>
</nav>

<hr>